<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Libra</title>
    @*Promise support for IE*@
    <!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script> -->
    <link rel="stylesheet" href="~/lib/fa/fontawesome-all.min.css" type="text/css" />
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
