@{
    ViewData["Title"] = "Libra";
}
<div id="app"></div>
<link rel="stylesheet" href="/build/app_styles.css">
<!-- https://github.com/webpack-contrib/mini-css-extract-plugin/issues/147 -->
<!-- https://github.com/webpack-contrib/mini-css-extract-plugin/issues/85 -->
<script src="/build/app_styles.js"></script>
<script src="/build/app.js"></script>