body {
   font-size: .800em;
}
.env {
    color: orange;
    font-weight: bold;
}
/*overide nav bar color*/
/*.navbar-inverse {
    background-color: #337ab7;
}
.white-color{
    color: white !important;
}*/
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.toast-font-size{
    font-size: 1.25rem !important;
}
